	body { margin: 0; padding: 0; }

#map {
    position: absolute;
    left: 0px;
    top: 59px;
    width: 100%;
    height: calc(100% - 60px);
}
#devices{
    position: absolute;
    top: 70px;
    left: 20px;
}
#locations {
    position: absolute;
    top: 70px;
    right: 50px;
}
#locations > .card-body {
    overflow: auto;
    max-height: 300px;
}
#locations button {
    font-size: 12px;
}
